<!DOCTYPE html>
<html>
	<head>
		<title>Database Interactions and UI</title>
		<link rel="stylesheet" type="text/css" href="/css/style.css">
		<script src="scripts/dbFormSetup.js"></script>
	</head>
	<body>
		<h1>Fitness Tracker</h1>
		<h2>CS 290 - Database Interactions and UI - James Pool</h2>
		{{{body}}}
	</body>
</html>