<!DOCTYPE html>
<html>
	<head>
		<title>Database Interactions and UI</title>
		<link rel="stylesheet" type="text/css" href="/css/style.css">
		<script src="scripts/dbFormSetup.js"></script>
		<script src="scripts/date.js"></script>
	</head>
	<body>
		{{{body}}}
	</body>
</html>